/* Reset Css

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


/* Reset css ends */


.header {
    padding: 20px 2%;
    box-shadow: 0 0 4px 1px #bcbcbc;
	overflow: hidden;
	border-bottom: 3px solid #9E7CC1;
	min-width: 800px;
}
.logo {
    font-size: 30px;
	float: left;
	color: #9E7CC1;
}
.wrapper {
    padding: 20px 2% 0;
	min-width: 800px;
}
.diagramDiv {
    width:85%;
    height: 500px;
    margin: 0 auto;
    border:1px solid #aaa;
}
.headerLinks {
    float: left;
	margin: 8px 0 0 80px;
}
.headerLinks a {
    border: 1px solid #d1d3d4;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px 0 0;
	color: #58595b;
}
.headerLinks a:hover {
	cursor: pointer;
	background: #dfdfdf;
}
.headerLinks a:active {
	background: #ccc;
}
.eachLinkDiv {
	overflow: hidden;
}
.leftDiv, .rightDiv {
    width: 49%;
    float: left;
}
.jsonData {
	border:1px solid #aaa;
	width: 100%;
	height: 500px;
	overflow: auto;
	margin: 18px 0 0;
	padding: 8px;
}
h1 {
	font-size: 20px;
	text-align: center;
}
.showJsonButton {
	border:1px solid #9E7CC1;
	background: #9E7CC1;
	padding: 5px 15px;
	color: #fff;
	border-radius: 3px;
}
.showJsonButton:hover {
	background: #9c7Ca5;
	cursor: pointer;
}
.jsonText {
	color: #888;
	font-size: 14px;
	margin: 5px 0 0;
}